<mat-nav-list>
  <div class="logo">
    <img src="assets/pokemonLogo.png" alt="Pokemon Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 class="seccion">Secciones</h2>

  <mat-divider></mat-divider>
  <div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Pokemon/PokemonFavList" class="mat-list-item">
      <mat-icon>assessment</mat-icon> Pokemons Favoritos

    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Pokemon/PokemonList" class="mat-list-item">
      <mat-icon>assessment</mat-icon> Pokedex
    </a>
  </div>

</mat-nav-list>


