mat-drawer {
  display: flex;
  width: 260px;
  background: #ffffff;
}
mat-drawer-container {
  height: 100%;
  width: 100%;
}

.headerZ{
  display: flex;
  width: auto;
}

/* Apartado de la page */

