<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="'url(' + pokemon.url + ')'" class="example-header-image"></div>
    <mat-card-title>{{pokemon.name}} </mat-card-title>
    <mat-card-subtitle>({{pokemon.alias}})</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <img class="imgP" [src]="pokemon.url" alt="a">
  <mat-divider></mat-divider>
  <!--
  <div *ngIf="favorateSession">
    <mat-card-content>
      <div align="center">
        Alias
      </div>
    </mat-card-content>
  </div>-->
  <!--
  <mat-card-content>
    <div class="contentPoke">
      Alias : {{pokemon.alias}}
    </div>
  </mat-card-content>
-->

  <mat-card-actions>
    <button (click)="removeFromFav(pokemon)" class="likeB" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="updateFavoritePokemon(pokemon)" color="primary" aria-label="Example icon button with a heart icon">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<!--
<div class="custom-div">
  <div mat-card-avatar [style.background-image]="'url(' + urlPoke + ')'" class="example-header-image">
  </div>
</div>-->

